
.idea/workspace.xml

local.properties

.idea/codeStyles/Project.xml

.gradle/buildOutputCleanup/outputFiles.bin

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/5.4.1/executionHistory/executionHistory.lock

.gradle/6.1.1/javaCompile/

.gradle/checksums/

.gradle/5.4.1/fileContent/

.gradle/5.4.1/fileHashes/

.gradle/5.4.1/javaCompile/

.gradle/5.4.1/fileChanges/

.gradle/6.1.1/executionHistory/

.gradle/6.1.1/fileHashes/

.idea/caches/

.idea/modules/aappTest/

.idea/modules/handlersAndroid/SkyTale.handlersAndroid.iml

.idea/libraries/

*.iml

.idea/

.gradle/6.7.1/executionHistory/

.gradle/6.7.1/javaCompile/

.gradle/6.7.1/fileHashes/
